/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #666666;
  background: url("extra_clean_paper.png");
  height: 100%; }

    .loadwrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    display: flex;
    justify-content: center;
}

.sk-cube-grid {
    width: 100px;
    height: 100px;
    align-self: center;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.header {
  text-align: center; }
  .header a {
    text-decoration: none; }
    .header a h1:hover {
      color: #ccac00; }
  .header h1 {
    color: #e5c100;
    font-size: 4em; }
  .header h2 {
    font-size: 2em; }
  .header .info.info-top {
    padding-top: 20px; }
  .header .info.info-bottom {
    padding-bottom: 60px; }

p, .items {
  font-size: 20px; }

.outline > div {
  border: 1px solid black; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.items > div {
  padding: 20px 20px; }

#content {
  min-height: 100%;
  width: 95%;
  max-width: 90em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -50px; }
  #content:after {
    content: "";
    display: block; }

.footer {
  text-align: center; }
  .footer #content:after {
    height: 50px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

input[type="submit"] {
  padding: 2px;
  border-radius: 5px;
  font-size: 1em; }
  input[type="submit"]:hover {
    border-style: inset; }

input[type="text"] {
  padding: 2px;
  border-radius: 5px;
  font-size: 1em; }

#repos {
  width: 100%;
  border-collapse: collapse; }
  #repos, #repos td, #repos th {
    border: 1px solid #000000;
    padding: 5px; }

.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.column-xs, .column-sm, .column-md, .column-lg, .column-xs-1, .column-xs-2, .column-xs-3, .column-xs-4, .column-xs-5, .column-xs-6, .column-xs-7, .column-xs-8, .column-xs-9, .column-xs-10, .column-xs-11, .column-xs-12, .column-sm-1, .column-sm-2, .column-sm-3, .column-sm-4, .column-sm-5, .column-sm-6, .column-sm-7, .column-sm-8, .column-sm-9, .column-sm-10, .column-sm-11, .column-sm-12, .column-md-1, .column-md-2, .column-md-3, .column-md-4, .column-md-5, .column-md-6, .column-md-7, .column-md-8, .column-md-9, .column-md-10, .column-md-11, .column-md-12, .column-lg-1, .column-lg-2, .column-lg-3, .column-lg-4, .column-lg-5, .column-lg-6, .column-lg-7, .column-lg-8, .column-lg-9, .column-lg-10, .column-lg-11, .column-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.column-xs, .column-sm, .column-md, .column-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.column-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.column-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.column-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.column-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.column-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.column-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.column-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.column-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.column-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.column-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.off-xs-1 {
  margin-left: 8.33333%; }

.off-xs-2 {
  margin-left: 16.66667%; }

.off-xs-3 {
  margin-left: 25%; }

.off-xs-4 {
  margin-left: 33.33333%; }

.off-xs-5 {
  margin-left: 41.66667%; }

.off-xs-6 {
  margin-left: 50%; }

.off-xs-7 {
  margin-left: 58.33333%; }

.off-xs-8 {
  margin-left: 66.66667%; }

.off-xs-9 {
  margin-left: 75%; }

.off-xs-10 {
  margin-left: 83.33333%; }

.off-xs-11 {
  margin-left: 91.66667%; }

@media only screen and (min-width: 768px) {
  .column-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .column-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .column-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .column-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .column-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .column-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .column-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .column-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-sm-1 {
    margin-left: 8.33333%; }

  .off-sm-2 {
    margin-left: 16.66667%; }

  .off-sm-3 {
    margin-left: 25%; }

  .off-sm-4 {
    margin-left: 33.33333%; }

  .off-sm-5 {
    margin-left: 41.66667%; }

  .off-sm-6 {
    margin-left: 50%; }

  .off-sm-7 {
    margin-left: 58.33333%; }

  .off-sm-8 {
    margin-left: 66.66667%; }

  .off-sm-9 {
    margin-left: 75%; }

  .off-sm-10 {
    margin-left: 83.33333%; }

  .off-sm-11 {
    margin-left: 91.66667%; } }
@media only screen and (min-width: 992px) {
  .column-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .column-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .column-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .column-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .column-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .column-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .column-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .column-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-md-1 {
    margin-left: 8.33333%; }

  .off-md-2 {
    margin-left: 16.66667%; }

  .off-md-3 {
    margin-left: 25%; }

  .off-md-4 {
    margin-left: 33.33333%; }

  .off-md-5 {
    margin-left: 41.66667%; }

  .off-md-6 {
    margin-left: 50%; }

  .off-md-7 {
    margin-left: 58.33333%; }

  .off-md-8 {
    margin-left: 66.66667%; }

  .off-md-9 {
    margin-left: 75%; }

  .off-md-10 {
    margin-left: 83.33333%; }

  .off-md-11 {
    margin-left: 91.66667%; } }
@media only screen and (min-width: 1200px) {
  .column-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .column-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .column-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .column-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .column-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .column-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .column-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .column-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-lg-1 {
    margin-left: 8.33333%; }

  .off-lg-2 {
    margin-left: 16.66667%; }

  .off-lg-3 {
    margin-left: 25%; }

  .off-lg-4 {
    margin-left: 33.33333%; }

  .off-lg-5 {
    margin-left: 41.66667%; }

  .off-lg-6 {
    margin-left: 50%; }

  .off-lg-7 {
    margin-left: 58.33333%; }

  .off-lg-8 {
    margin-left: 66.66667%; }

  .off-lg-9 {
    margin-left: 75%; }

  .off-lg-10 {
    margin-left: 83.33333%; }

  .off-lg-11 {
    margin-left: 91.66667%; } }

/*# sourceMappingURL=master.css.map */
