<div class="row items outline left">
    <div class="column-md-3">
        Git Version Control
    </div>
    <div class="column-md-3">
        <a [routerLink]="['/version-control']">Version Control</a>
    </div>
    <div class="column-md-6">
        Page for controlling our internal git server, and it's synchronizations to Github.
    </div>
</div>
<div class="row items outline left">
    <div class="column-md-3">
        Axis Network Camera Viewer
    </div>
    <div class="column-md-3">
        <a [routerLink]="['/camera-viewer']">Axis Cameras</a>
    </div>
    <div class="column-md-6">
        Central viewer for the Axis network cameras we set up with a text box.
    </div>
</div>
<div class="row items outline left">
    <div class="column-md-3">
        Uniform &amp; PR Orders
    </div>
    <div class="column-md-3">
        <a href="UniformOrder.htm">Uniform Order</a>
    </div>
    <div class="column-md-6">
        Page for keeping track of all past/present/future uniforms and public relations.
    </div>
</div>